body {
	vertical-align: center;
	font-family: verdana;
	font-size: 12pt;
	text-align:center;
}

#button {
	-webkit-transition-property: border; /* Safari */
    -webkit-transition-duration: 2s; /* Safari */
    transition-property: border;
    transition-duration: 2s;
}


#button:active {
	width:150px;
}

.loading {
	width: 100px;
	-webkit-animation: rotate 3s infinite linear;
	animation: rotate 3s infinite linear;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rotate {
    0% { -webkit-transform: rotate(0deg); }
    50% { -webkit-transform: rotate(180deg); }
   100% { -webkit-transform: rotate(360deg); }
}

/* Standard syntax */
@keyframes rotate {
    0% { -webkit-transform: rotate(0deg); }
    50% { -webkit-transform: rotate(180deg); }
   100% { -webkit-transform: rotate(360deg); }
}

